<%= content_tag( 'h1', @fragment_version.display_label ) %>

<table>
	<tbody>
		<tr>
			<th>Revision set</th>
			<td><%= link_to( @fragment_version.revision_set.display_date, revision_set_show_url( :revision_set =>  @fragment_version.revision_set ) ) %></td>
		</tr>
		<tr>
			<th>Part of fragment</th>
			<td><%= link_to( @fragment_version.fragment.id, fragment_show_url( :fragment =>  @fragment_version.fragment ) ) %></td>
		</tr>
		<tr>
			<th>Part of order version</th>
			<td><%= link_to( @fragment_version.order_version.id, order_version_show_url( :order_version =>  @fragment_version.order_version ) ) %></td>
		</tr>
		<tr>
			<th>Part of order</th>
			<td><%= link_to( @fragment_version.order.id, order_show_url( :order =>  @fragment_version.order ) ) %></td>
		</tr>
		<tr>
			<th>Number</th>
			<td><%= @fragment_version.current_number %></td>
		</tr>
		<tr>
			<th>Parlrules identifier</th>
			<td><%= @fragment_version.parlrules_identifier %></td>
		</tr>
	</tbody>
</table>
<%= render :partial => 'fragment_version_text', :object => @fragment_version %>