<% soffad = standing_order_fragment_version_from_adoption_date %>

<p id='so-<%= soffad.fragment_id %>' class="standing-order-fragment paragraph-<%= soffad.fragment_number_in_list %>
	
	<% if @standing_order_fragment && @standing_order_fragment.standing_order_fragment_versions.last == soffad %>outline pa2
	  <% end -%>" id="fragment-<%= soffad.standing_order_fragment.id %>">

<% if params.key?("debug") %>

<table class="collapse ba br2 b--black-10">
  <tr class="striped--near-white">
  <th class="pv2 ph3 tl f6 fw6 ttu">Key</th>
  <th class="tl f6 ttu fw6 pv2 ph3">Value</th></tr>
  <% soffad.attributes.each do |k,v| %>
<tr class="striped--near-white">
<td class="pv2 ph3 gray"><%= k %></td>
<td class="pv2 ph3 red b"><%= truncate(v.to_s) %></td></tr>
<% end %>
</table><br>


<% end %>




<span class="gray" title="<%= standing_order_fragment_show_url(soffad.standing_order_fragment) %>">
	  <%= link_to('&sect;'.html_safe,
	                  standing_order_fragment_show_url(soffad.standing_order_fragment),
	                  :class => "gray link") %>
	                  </span>
	                  
	  <% if soffad.fragment_number_in_list == 1 %>
	<strong><%= soffad.standing_order_number + '.' %></strong>
	    <% end  %>
	    <%= soffad.text.gsub(' ;', ';').gsub(' :', ':') %>
	</p>        
