<% soffad = standing_order_fragment_version_from_adoption_date %>

<p id='so-<%= soffad.fragment_id %> fragment-<%= soffad.standing_order_fragment.id %>' 
	
	<% if @standing_order_fragment && @standing_order_fragment.standing_order_fragment_versions.last == soffad %>class="outline"
	  <% end -%>
	  >


<span title="<%= standing_order_fragment_show_url(soffad.standing_order_fragment) %>">
	  <%= link_to('&sect;'.html_safe,
	                  standing_order_fragment_show_url(soffad.standing_order_fragment)) %>
	                  </span>
	                  
	  <% if soffad.fragment_number_in_list == 1 %>
	<strong><%= soffad.standing_order_number + '.' %></strong>
	    <% end  %>
	    <%= soffad.text.gsub(' ;', ';').gsub(' :', ':') %>
	</p>        
