<tr class="paragraph-<%= standing_order_fragment_version_from_adoption_date.fragment_number_in_list %>" id="fragment-<%= standing_order_fragment_version_from_adoption_date.standing_order_fragment.id %>">
	<td>
		<%= content_tag( 'span', "#{standing_order_fragment_version_from_adoption_date.number_with_letter}.", :class => standing_order_fragment_version_from_adoption_date.display_number_with_letter ) %>
	</td>
	<%= content_tag( 'td', "(#{standing_order_fragment_version_from_adoption_date.fragment_number_in_list})" ) %>
	<%= content_tag( 'td', standing_order_fragment_version_from_adoption_date.text ) %>
	<%= content_tag( 'td', link_to( standing_order_fragment_version_from_adoption_date.root_number, standing_order_fragment_show_url( standing_order_fragment_version_from_adoption_date.standing_order_fragment ) ) ) %>
</tr>