<% soffad = standing_order_fragment_version_from_adoption_date %>


<div id='so-<%= soffad.fragment_id %>'>

	<p class="standing-order-fragment paragraph-<%= soffad.fragment_number_in_list %>
	
	<% if @standing_order_fragment && @standing_order_fragment.standing_order_fragment_versions.last == soffad %>outline pa2
	  <% end -%>" id="fragment-<%= soffad.standing_order_fragment.id %>">

<% if params.key?("debug") %>
<code><%= soffad.attributes.except("text") %></code><br>
<% end %>

	  <% if soffad.fragment_number_in_list == 1 %>
	  
	    <strong><%= soffad.standing_order_number + '.' %></strong>
	    <% end  %>

<%= soffad.text %>

	  <span class="gray pl1">&sect;<%= link_to(soffad.standing_order_fragment_id.to_s,
	                  standing_order_fragment_show_url(soffad.standing_order_fragment),
	                  :class => "gray link"
	          ) %></span> 
	</p>        
</div>