<%= content_tag( 'h1', @order_version.display_title ) %>

<table>
	<tbody>
		<tr>
			<th>Revision set</th>
			<td><%= link_to( @order_version.revision_set.display_date, revision_set_show_url( :revision_set =>  @order_version.revision_set ) ) %></td>
		</tr>
		<tr>
			<th>Part of order</th>
			<td><%= link_to( @order_version.order.id, order_show_url( :order =>  @order_version.order ) ) %></td>
		</tr>
		<tr>
			<th>Parlrules identifier</th>
			<td><%= @order_version.parlrules_identifier %></td>
		</tr>
	</tbody>
</table>
<table>
	<%= render :partial => 'fragment_version/fragment_version', :collection => @order_version.fragment_versions %>
</table>