
<% content_for :title, @standing_order_fragment.standing_order_fragment_versions.last.text %>

	<% if @standing_order_fragment.inforce? %>
	<ul>
		<li>This Standing Order fragment <strong>has not been revoked</strong>.</li>
		<li>This Standing Order fragment <strong>has not expired</strong>.</li>
	</ul>
		<h2 class='lh-title'>Standing Order fragment, within the Standing Order in the context of the most recent adoption</h2>
		
	<% else -%>
	<ul>
		<li>This Standing Order fragment <strong>has either been revoked</strong> ... </li>
		<li>... or this Standing Order fragment <strong>has expired</strong>.</li>
	</ul>
		
		<h3 class='lh-title'>Standing Order fragment, within the Standing Order in the context of the most recent adoption of which it formed part</h3>
		
	<% end -%>
	
	<%= render :partial => 'standing_order_fragment_version/standing_order_fragment_version_from_adoption_date', :collection => @standing_order_fragment.standing_order_fragment_versions_in_context %>


<h3 class='lh-title'>Appearance history</h3>

<p>
			<%= content_tag( 'span', link_to( @standing_order_fragment.first_version.adoption_date.display_date, adoption_date_show_url( :adoption_date => @standing_order_fragment.standing_order_fragment_versions.first.adoption_date, :anchor => "fragment-#{@standing_order_fragment.id}" ) ), :class => 'date-cell' ) %>
			<strong>(Adopted)</strong>
			
			<%= content_tag( 'span', @standing_order_fragment.standing_order_fragment_versions.first.text ) %>
</p>

<p>
		<%= render :partial => 'standing_order_fragment_version/standing_order_fragment_version_from_fragment', :collection => @standing_order_fragment.standing_order_fragment_versions_with_edits %>
</p>

<p>
			<%= content_tag( 'span', link_to( @standing_order_fragment.last_version.adoption_date.display_date, adoption_date_show_url( :adoption_date => @standing_order_fragment.standing_order_fragment_versions.last.adoption_date, :anchor => "fragment-#{@standing_order_fragment.id}" ) ), :class => 'date-cell' ) %>
			<strong>(Last appeared)</strong>
			
			<%= content_tag( 'span', @standing_order_fragment.standing_order_fragment_versions.last.text ) %>
</p>