<%= content_tag( 'h1', @standing_order_fragment.standing_order_fragment_versions.last.text ) %>

<% if @standing_order_fragment.inforce? %>
	<%= content_tag( 'p', 'This Standing Order fragment has been neither repealed nor has it expired.' ) %>
<% else -%>
	<%= content_tag( 'p', 'This Standing Order fragment has either been repealed or has expired.' ) %>
<% end -%>

<table>
	<tbody>
		<%= render :partial => 'standing_order_fragment_version/standing_order_fragment_version_from_adoption_date', :collection => @standing_order_fragment.standing_order_fragment_versions_in_context %>
	</tbody>
</table>

<%= content_tag( 'p', "View in context of #{link_to( 'latest adoption date', adoption_date_show_url( :adoption_date => @standing_order_fragment.standing_order_fragment_versions.last.adoption_date, :anchor => "fragment-#{@standing_order_fragment.id}" ) )}.".html_safe ) %>




<hr />





<table>
	<tbody>
		<%= render :partial => 'standing_order_fragment_version/standing_order_fragment_version_from_fragment', :collection => @standing_order_fragment.standing_order_fragment_versions %>
	</tbody>
</table>