<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
  	  <title>Standing Orders</title>
	  <%# stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel='dns-prefetch' href='//standing-orders.herokuapp.com'>
	</head>
	<body id="<%= Rails.env %>-environment" class="f5 ph3 sans-serif pv3 measure-wide near-black bg-white center">

		<header class="">

				<a href="/" class="link underline-hover">House of Commons Public Standing Orders</a>
				
			</nav>
			
			<h1 class="lh-title f3"><%= yield(:title) %></h1>
			
		</header>
		
		<main class="lh-copy">
			<%= yield %>
		</main>
		
		<footer>
		
		<%= content_tag( :p, 
			content_tag( :cite, "UK House of Commons Standing Orders Dataset, Version 1.1.0, ParlRulesData Project. 2019." ) ) %>

		<%= content_tag( :p, 
			content_tag( :cite, "Goet, Niels D., Thomas G. Fleming, and Radoslaw Zubek. Forthcoming. ‘Procedural Change in the UK House of Commons, 1811-2015’. Legislative Studies Quarterly." ) ) %>

		</footer>

	</body>
</html>
